/* for comment_utterances*/
.utterances {
    max-width: 100% !important;
}

/* for make-container-without-docker */
.td-content img {
    max-width: 80%;
    height: auto !important;
}
img.align-left{
    float:left;
    padding: 0px 20px 0px 0px;
}
.align-right{
    float:right;
}
.responsive-wrap iframe{height: 38vw;}
@media ( max-width: 768px ) {
    .responsive-wrap iframe{height: 60vw;}
}
.post-title {
    font-size: 18px;
    font-weight: bold;
}
.post-date {
    font-size: 12px;
    font-style: italic;
    color: #757b84;
}
