<!DOCTYPE html>
<html lang="ko" class="no-js">
  {% include head.html %}
  {% include google-analytics.html %}
  {% assign page_class = "page-generic" %}
  {% if page.url == "/" %}
    {% assign page_class = "page-home" %}
  {% elsif page.url == "/news/" %}
    {% assign page_class = "page-news" %}
  {% elsif page.url == "/docs/" %}
    {% assign page_class = "page-docs" %}
  {% elsif page.url == "/about/" %}
    {% assign page_class = "page-about" %}
  {% elsif page.collection == "posts" %}
    {% assign page_class = "page-post-detail" %}
  {% elsif page.collection == "docs" %}
    {% assign page_class = "page-doc-detail" %}
  {% endif %}
  <body class="{{ page_class }}">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BTZG6C" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <a class="skip-link" href="#main-content">Skip to content</a>
    <div class="site-shell">
      {% include header.html %}
      <main class="site-main" id="main-content" role="main" tabindex="-1">
        <div class="site-container">
          {{ content }}
        </div>
      </main>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
